/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
*/
/*
- Tints:
*/
/*
- Shades: 
*/
/*
- Accents:
- Greys
*/
/*

*/
/*

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS
*/
/*
--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background-image: url("./img/so-white.png");
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 2rem;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 3.6rem;
}

/*////////// General styles //////////*/
.centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
  display: none;
}

/*////////// HEADER //////////*/
.header {
  padding-top: 4rem;
}
.header .header-logo {
  width: 75%;
}
.header .nav input {
  display: none;
}
.header .nav label {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  width: 5rem;
  height: 5rem;
  z-index: 10000;
  cursor: pointer;
  border-radius: 50%;
  background-color: #4a0303;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}
.header .nav label .nav-icon,
.header .nav label .nav-icon::before,
.header .nav label .nav-icon::after {
  background-color: #fff;
  width: 3rem;
  height: 2px;
  position: absolute;
  display: inline-block;
}
.header .nav label .nav-icon {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.header .nav label .nav-icon::before,
.header .nav label .nav-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}
.header .nav label .nav-icon::before {
  top: -0.8rem;
}
.header .nav label .nav-icon::after {
  top: 0.8rem;
}
.header .nav .nav-checkbox:checked + .nav-button > .nav-icon::before {
  top: 0;
  transform: rotate(135deg);
}
.header .nav .nav-checkbox:checked + .nav-button > .nav-icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.header .nav .nav-checkbox:checked + .nav-button > .nav-icon {
  background-color: #4a0303;
}
.header .nav .nav-background {
  height: 4rem;
  width: 4rem;
  top: 3rem;
  right: 3rem;
  border-radius: 50%;
  background-color: rgba(93, 4, 4, 0.8588235294);
  backdrop-filter: blur(0.3px);
  position: fixed;
  z-index: 9998;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.header .nav .nav-checkbox:checked ~ .nav-background {
  transform: scale(50);
}
.header .nav nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header .nav nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2rem 0 2rem;
  gap: 5rem;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.header .nav nav ul li {
  display: block;
  color: white;
  font-size: 2rem;
}
.header .nav .nav-checkbox:checked ~ nav {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  width: 100%;
}

/*////////// HERO SECTION //////////*/
.hero-section {
  flex-direction: column;
  margin-top: 3.6rem;
}
.hero-section img {
  width: 75%;
}
.hero-section h2 {
  margin-bottom: 3.6rem;
  font-size: 2.6rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  padding: 0 2rem 0 2rem;
}
.hero-section .CTA-container {
  height: 4.8rem;
  width: 100%;
  background-color: #5d0404;
}
.hero-section .CTA-container button {
  height: 70%;
  width: 44%;
  border-radius: 9px;
  color: #333;
  background-color: #fff;
  border: 2px solid #4a0303;
  font-size: 1.4rem;
  padding: 0rem 1rem;
}

/*////////// HOW IT WORKS SECTION //////////*/
.how-it-works-section {
  padding: 4.8rem 2rem 2rem 2rem;
  font-size: 1.4rem;
}
.how-it-works-section h2 {
  line-height: 1.2;
}
.how-it-works-section .how-it-works-section-introduction {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}
.how-it-works-section .how-it-works-section-step-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.how-it-works-section .how-it-works-section-step-container .how-it-works-section-step {
  transition: all 1ms;
  height: fit-content;
  border-bottom: 1px solid rgba(93, 4, 4, 0.5882352941);
}
.how-it-works-section .how-it-works-section-step-container .how-it-works-section-step .how-it-works-section-step-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.how-it-works-section .how-it-works-section-step-container .how-it-works-section-step .how-it-works-section-step-header h3 {
  letter-spacing: 0.5px;
  line-height: 1.4;
}
.how-it-works-section .how-it-works-section-step-container .how-it-works-section-step .how-it-works-section-step-header img {
  transition: all 150ms;
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(9%) sepia(83%) saturate(3363%) hue-rotate(351deg) brightness(81%) contrast(105%);
}
.how-it-works-section .how-it-works-section-step-container .how-it-works-section-step .how-it-works-section-step-explanation-container {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in;
  opacity: 0;
}
.how-it-works-section .how-it-works-section-step-container .how-it-works-section-step .how-it-works-section-step-explanation-container p {
  line-height: 1.8;
  color: #1b1b1b;
}
.how-it-works-section .how-it-works-section-step-container .how-it-works-section-step .how-it-works-section-step-explanation-open {
  padding: 0 0.5rem 1rem 0.5rem;
  max-height: 700px;
  opacity: 1;
  background: rgb(93, 4, 4);
  background: linear-gradient(0deg, rgba(93, 4, 4, 0.1026785714) 0%, rgba(93, 4, 4, 0) 100%);
}
.how-it-works-section .how-it-works-section-conclusion {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: 4rem;
}

/*////////// EXAMPLES SECTION //////////*/
.examples-section {
  background-color: #fff;
  padding: 2rem 0;
}
.examples-section h2 {
  padding-left: 2rem;
}
.examples-section .examples-section-examples-container {
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  transition: all 150ms ease-in;
  display: flex;
  padding: 1rem 0;
}
.examples-section .examples-section-examples-container .example-section-instagram-profile-wrapper {
  scroll-snap-align: start;
  overflow: visible;
  padding: 0 2rem;
  min-width: 100vw;
}
.examples-section .examples-section-examples-container .example-section-instagram-profile-wrapper .example-section-instagram-profile {
  min-width: 100%;
  border-radius: 11px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.examples-section .examples-section-examples-container .example-section-instagram-profile-wrapper .example-section-instagram-profile .example-section-instagram-profile-header {
  height: 4rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(224, 224, 224);
  border-radius: 11px 11px 0 0;
  border-bottom: 1px solid rgba(136, 136, 136, 0.685);
}
.examples-section .examples-section-examples-container .example-section-instagram-profile-wrapper .example-section-instagram-profile .example-section-instagram-profile-header .example-section-instagram-profile-header-left-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgb(131, 131, 131);
}
.examples-section .examples-section-examples-container .example-section-instagram-profile-wrapper .example-section-instagram-profile .example-section-instagram-profile-header .example-section-instagram-profile-header-middle {
  width: 10rem;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(194, 194, 194);
}
.examples-section .examples-section-examples-container .example-section-instagram-profile-wrapper .example-section-instagram-profile .example-section-instagram-profile-account {
  height: 8rem;
  padding: 0 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid rgba(136, 136, 136, 0.685);
}
.examples-section .examples-section-examples-container .example-section-instagram-profile-wrapper .example-section-instagram-profile .example-section-instagram-profile-account .example-section-instagram-profile-account-image {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.examples-section .examples-section-examples-container .example-section-instagram-profile-wrapper .example-section-instagram-profile .example-section-instagram-profile-account .example-section-instagram-profile-account-details-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.examples-section .examples-section-examples-container .example-section-instagram-profile-wrapper .example-section-instagram-profile .example-section-instagram-profile-account .example-section-instagram-profile-account-details-container .example-section-instagram-profile-account-details-instagram-handle {
  font-size: 1.4rem;
  font-weight: 500;
}
.examples-section .examples-section-examples-container .example-section-instagram-profile-wrapper .example-section-instagram-profile .example-section-instagram-profile-account .example-section-instagram-profile-account-details-container .example-section-instagram-profile-account-details-business-type {
  font-size: 1.2rem;
  color: #555;
}
.examples-section .examples-section-examples-container .example-section-instagram-profile-wrapper .example-section-instagram-profile .example-section-instagram-profile-feed {
  width: 100%;
}
.examples-section .examples-section-examples-container .example-section-instagram-profile-wrapper .example-section-instagram-profile .example-section-instagram-profile-footer {
  height: 8rem;
  padding: 2rem;
  text-align: center;
  font-size: 1.4rem;
}
.examples-section .examples-section-examples-container::-webkit-scrollbar {
  display: none;
}
.examples-section .examples-section-examples-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.examples-section .example-section-slider-navigation-container {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.examples-section .example-section-slider-navigation-container .example-section-slider-navigation-chevrons {
  transition: all 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 224, 224);
  border-radius: 50%;
  padding: 0.5rem;
}
.examples-section .example-section-slider-navigation-container .example-section-slider-navigation-chevrons img {
  width: 2.5rem;
  height: 2.5rem;
}
.examples-section .example-section-slider-navigation-container .example-section-slider-navigation-left-chevron img {
  transform: rotate(90deg);
}
.examples-section .example-section-slider-navigation-container .example-section-slider-navigation-right-chevron img {
  transform: rotate(-90deg);
}
.examples-section .example-section-slider-navigation-container .example-section-slider-navigation-circles-container {
  display: flex;
  gap: 1rem;
}
.examples-section .example-section-slider-navigation-container .example-section-slider-navigation-circles-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid #5d0404;
  border-radius: 50%;
  transition: all 150ms;
}
.examples-section .example-section-slider-navigation-container .example-section-slider-navigation-circles-container div .example-section-slider-navigation-circles-default {
  width: 0.8rem;
  height: 0.8rem;
  border: none;
  border-radius: 50%;
  background-color: none;
}
.examples-section .example-section-slider-navigation-container .example-section-slider-navigation-circles-container div .example-section-slider-navigation-circles-active {
  background-color: #5d0404;
}

/*////////// TESTIMONIALS SECTION //////////*/
.testimonials-section {
  padding: 2rem 0rem;
  color: #333;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
}
.testimonials-section h2 {
  padding-left: 2rem;
}
.testimonials-section .testimonials-section-testimonial-container {
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
  transition: all 150ms ease-in;
}
.testimonials-section .testimonials-section-testimonial-container figure {
  scroll-snap-align: start;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem 0 2rem;
}
.testimonials-section .testimonials-section-testimonial-container figure p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.testimonials-section .testimonials-section-testimonial-container figure blockquote {
  font-size: 1.4rem;
  font-weight: 500;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  color: #333;
  border-radius: 11px;
  padding: 0.5rem 1.6rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  overflow: visible;
}
.testimonials-section .testimonials-section-testimonial-container figure blockquote .testimonials-section-upper-quotes-container {
  height: 2rem;
  overflow: visible;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 1.6rem;
}
.testimonials-section .testimonials-section-testimonial-container figure blockquote .testimonials-section-upper-quotes-container img {
  filter: invert(9%) sepia(83%) saturate(3363%) hue-rotate(351deg) brightness(81%) contrast(105%);
  width: 4rem;
  height: 4rem;
}
.testimonials-section .testimonials-section-testimonial-container figure blockquote .testimonials-section-lower-quotes-container {
  height: 2rem;
  overflow: visible;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 1.6rem;
}
.testimonials-section .testimonials-section-testimonial-container figure blockquote .testimonials-section-lower-quotes-container img {
  transform: rotate(180deg);
  filter: invert(9%) sepia(83%) saturate(3363%) hue-rotate(351deg) brightness(81%) contrast(105%);
  width: 4rem;
  height: 4rem;
}
.testimonials-section .testimonials-section-testimonial-container figure .testimonials-section-testimonial-customer-image {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.testimonials-section .testimonials-section-testimonial-container::-webkit-scrollbar {
  display: none;
}
.testimonials-section .testimonials-section-testimonial-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.testimonials-section .testimonials-section-slider-navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
.testimonials-section .testimonials-section-slider-navigation-container .testimonials-section-slider-navigation-chevrons {
  transition: all 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 224, 224);
  border-radius: 50%;
  padding: 0.5rem;
}
.testimonials-section .testimonials-section-slider-navigation-container .testimonials-section-slider-navigation-chevrons img {
  width: 2.5rem;
  height: 2.5rem;
}
.testimonials-section .testimonials-section-slider-navigation-container .testimonials-section-slider-navigation-left-chevron img {
  transform: rotate(90deg);
}
.testimonials-section .testimonials-section-slider-navigation-container .testimonials-section-slider-navigation-right-chevron img {
  transform: rotate(-90deg);
}
.testimonials-section .testimonials-section-slider-navigation-container .testimonials-section-slider-navigation-circles-container {
  display: flex;
  gap: 1rem;
}
.testimonials-section .testimonials-section-slider-navigation-container .testimonials-section-slider-navigation-circles-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid #5d0404;
  border-radius: 50%;
  transition: all 150ms;
}
.testimonials-section .testimonials-section-slider-navigation-container .testimonials-section-slider-navigation-circles-container div .testimonials-section-slider-navigation-circles-default {
  width: 0.8rem;
  height: 0.8rem;
  border: none;
  border-radius: 50%;
  background-color: none;
}
.testimonials-section .testimonials-section-slider-navigation-container .testimonials-section-slider-navigation-circles-container div .testimonials-section-slider-navigation-circles-active {
  background-color: #5d0404;
}

/*////////// SERVICES SECTION //////////*/
.services-section {
  padding: 4.8rem 0;
  font-size: 1.6rem;
  background-color: #fff;
}
.services-section h2 {
  padding: 0 2rem;
}
.services-section .services-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  padding: 0 2rem;
}
.services-section .services-section-container .services-section-package {
  width: 100%;
  height: 45rem;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  border-radius: 11px;
  border: solid 2px rgba(109, 29, 29, 0.368627451);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.services-section .services-section-container .services-section-package h4 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 6.8rem;
}
.services-section .services-section-container .services-section-package .services-section-package-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.services-section .services-section-container .services-section-package .services-section-package-details div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.services-section .services-section-container .services-section-package .services-section-package-details div img {
  filter: invert(9%) sepia(83%) saturate(3363%) hue-rotate(351deg) brightness(81%) contrast(105%);
  width: 2rem;
}
.services-section .services-section-container .services-section-package .services-section-package-details div p {
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.2;
}
.services-section .services-section-container .services-section-package-premium {
  background-color: #6d1d1d;
  color: white;
}
.services-section .services-section-container .services-section-package-premium .services-section-package-details div img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(61deg) brightness(96%) contrast(109%);
}

/*////////// FOOTER SECTION //////////*/
.footer-section {
  padding: 6.4rem 2rem 2rem 2rem;
  border-top: 1px solid rgba(93, 4, 4, 0.5882352941);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.footer-section .footer-section-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.footer-section .footer-section-left-container img {
  width: 16rem;
}
.footer-section .footer-section-right-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 14rem;
  min-width: 100%;
}
.footer-section .footer-section-right-container p {
  font-size: 1.6rem;
}
.footer-section .footer-section-right-container div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.footer-section .footer-section-right-container div img {
  width: 2rem;
  height: 2rem;
  filter: grayscale(0.7);
}
.footer-section .footer-section-right-container a {
  font-size: 1.3rem;
}

/*# sourceMappingURL=output.css.map */
